#header{
    background-color: aquamarine;
    height:100px;
    margin-bottom:20px;
}
#side-nav{
    height:400px;
    width:200px;
    background-color: darkolivegreen;
    display: inline-block;
    vertical-align: top;
}
#main{
    height:600px;
    width:500px;
    background-color: darkorchid;
    display: inline-block;
}